@import "compass/typography/lists/bullets";


#about {
	background-color: #d7d7d7;
	div {
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
	}
	img.aboutimage {
		width: 100%;
	}
	ul {
		@include no-bullet;
	}
	img.smedia {
		width: 5em;
	}
	width: 100%;
}
