@import "compass/css3/opacity";
#attorneys {
	background-color: #d7d7d7;
	width: 100%;
	h2 {
		text-align: center;
		font-size:1.75em;
		color:#840137;
	}
	h3 {
		text-align: center;
	}
	p {
		text-align: center;

	}
	img {
		align:center;
		padding:0;
		@include opacity(.7);
	    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	    transition: opacity 1s;
	}
	img:hover { 
	    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	    transition: opacity 1s;
    	@include opacity(1);	
	}
	div {
		margin:0;
		padding:0;
	}
}