@media only screen and (min-width : 1135px){
	#address {
	text-align: left;
}
	#contact-info {
	text-align: right;
}
}
#footer {
	padding: 2em;
	text-align: center;
	background-color:#840137;
	width: 100%;
	p {
	color:#FFF;
	font-family: 'Slabo 27px', serif;
}
	#address {
	padding-top: .85em;
    display: block;
	color:#FFF;
	font-family: 'Slabo 27px', serif;
	}
	#contact-info {
	padding-top: .85em;
    display: block;
	color:#FFF;
	font-family: 'Slabo 27px', serif;
	}
	a {
		text-decoration: underline;
		color:#FFF;
	}
}