#footer {
	padding: 2em;
	text-align: center;
	background-color:#840137;
	width: 100%;
	p {
	color:#FFF;
	font-family: 'Slabo 27px', serif;
}
	#address {
	float: left;
	padding-top: .85em;
	text-align: left;
    display: block;
	color:#FFF;
	font-family: 'Slabo 27px', serif;
	}
	#contact-info {
	float: right;
	padding-top: .85em;
	text-align: right;
    display: block;
	color:#FFF;
	font-family: 'Slabo 27px', serif;
	}
	a {
		text-decoration: underline;
		color:#FFF;
	}
}