@media (min-width : 1135px) {
	#text {
		padding-top: 6em;
	}
}
@media only screen and (max-width : 1135px) and (min-width : 651px) {
	#home {
		#text {
			padding: 0 6em;
			}
	}
	#spacer {
		height: 12em;
	}
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
	#home {
		#text {
			padding: 4em;
		}
	}
}


@media only screen and (max-width : 480px)   {
	#home {
		#text {
			padding: 4em;
		}
	}
}

#home {
	background: #ebebeb url("../images/paper2.jpg");
	width: 100%;
	img {
		width: 100%;
		padding: 4em;
	}
	#text {
		padding-right: 6em;
	}
}
p{
	font-family: sans-serif;
	font-size: 1.1em;
}

h1 {
	font-family: 'BaskSBI', serif;
	padding-left: 2em;
	padding-top: 2em;
	text-shadow: 2px 2px #bababa;
}

h2 {
	font-family: 'Slabo 27px', serif;
	text-shadow: 2px 2px #a7a7a7;
}

h3 {
	font-family: 'Slabo 27px', serif;
	color:#840137;
	
}
@font-face{
    font-family: "BaskSBI";
    src: url('../fonts/BaskSBI.ttf');
}