@media only screen and (min-width : 1135px){
	#navigation{
		width: 100%;
		position: fixed;
		top:0;
		background:#FFF;
		z-index:1;
		opacity:.9;
	}	
	
	.nav {
		li {
		    float: left;
		}
	}
}

@media only screen and (max-width : 1135px) and (min-width : 651px) {
	#navigation{
		width: 100%;
		position: fixed;
		top:0;
		background:#FFF;
		z-index:1;
		opacity:.9;
	}
	
	.nav {
		text-align: center;
		li {
			display: inline;
			float:none;
			
			a {
				display: inline;
				margin-left:2em;				
			}
			&:first-child {
				float: left;
				width:100%;
			}
			&:last-child {
				width:100%;
			}
		}
}
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
	.nav {
		li {
		    width: 100%;
			align: center;
			text-align: center;
			a {
				font-size:2em;
			  }
			}
}
}

@media only screen and (max-width : 480px)   {
	.nav {
		li {
		    width: 100%;
			align: center;
			text-align: center;
			a {
				font-size:1.5em;
			  }
			}
			
}
}

.nav {
	li {
		padding-top: .85em;
		&:first-child {
			padding-top: 0;
			padding-left: 1em;
			padding-bottom:1em;
		};
		&:last-child {
		    display: block;
			font-size:2em;
			padding-top: .35em;
			padding-right: 1em;
			float:right;
			color:#363636;
			font-family: 'Montserrat', sans-serif;
			i {
				font-size: 1em;
				color: #840137;
			}
		};
	}
	a {
	    display: block;
		font-size:1.25em;
		color:#840137;
		font-family: 'Slabo 27px', serif;
	}
	#bignmber{
	    display: block;
		font-size:2em;
		padding-top: .35em;
		padding-right: 1em;
		float:right;
		color:#363636;
		font-family: 'Montserrat', sans-serif;
		i {
			font-size: 1em;
			color: #840137;
		}	
	}
	img {
		height:4em;
	}
}