@media only screen and (max-width : 1135px) and (min-width : 651px) {
	.nav {
		li {
			align: center;
			text-align: center;
			display: inline;
			float:center;
			
			a {
				align: right;
				text-align: right;
				display: inline;
				float:center;
				margin-left:2em;				
			}
			&:first-child {
				width:100%;
			}
			&:last-child {
				width:100%;
			}
			}
}
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
	.nav {
		li {
		    width: 100%;
			align: center;
			text-align: center;
			a {
				font-size:2em;
			  }
			}
}
}

@media only screen and (max-width : 480px)   {
	.nav {
		li {
		    width: 100%;
			align: center;
			text-align: center;
			a {
				font-size:1.5em;
			  }
			}
}
}

#navigation{
	width: 100%;
}


.nav {
	li {
	    float: left;
		padding-top: .85em;
		&:first-child {
			padding-top: 0;
			padding-left: 1em;
			padding-bottom:1em;
		};
		&:last-child {
		    display: block;
			font-size:2em;
			padding-top: .35em;
			padding-right: 1em;
			float:right;
			color:#363636;
			font-family: 'Montserrat', sans-serif;
			i {
				font-size: 1em;
				color: #840137;
			}
		};
	}
	a {
	    display: block;
		font-size:1.25em;
		color:#840137;
		font-family: 'Slabo 27px', serif;
	}
	img {
		height:4em;
	}
}