@import "compass/typography/lists/bullets";


.about {
	background-color: #bbbbbb;
	div {
		padding: 50px;		
	}
	img.aboutimage {
		width: 100%;
	}
	ul {
		@include no-bullet;
	}
	img.smedia {
		width: 5em;
	}
}
