@import "compass/css3/opacity";

.row {
	img {
		margin:0;
		padding:0;
		width: 100%;
		@include opacity(.7);
	    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	    transition: opacity 1s;
	}
	img:hover { 
	    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	    transition: opacity 1s;
    	@include opacity(1);	
	}
	div {
		margin:0;
		padding:0;
	}
}

h2 {
	font-family: 'AmerP';
	font-size: 2em;
}

@font-face {
    font-family: 'AmerP';
    src: url('../fonts/AmericanPurposeCasual01.ttf');
}