/* line 4, ../sass/components/_base.scss */
.row img {
  margin: 0;
  padding: 0;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 1s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
}
/* line 12, ../sass/components/_base.scss */
.row img:hover {
  -webkit-transition: opacity 1s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 17, ../sass/components/_base.scss */
.row div {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/components/_base.scss */
h2 {
  font-family: 'AmerP';
  font-size: 2em;
}

@font-face {
  font-family: 'AmerP';
  src: url("../fonts/AmericanPurposeCasual01.ttf");
}

/* line 4, ../sass/components/_about.scss */
.about {
  background-color: #bbbbbb;
}
/* line 6, ../sass/components/_about.scss */
.about div {
  padding: 50px;
}
/* line 9, ../sass/components/_about.scss */
.about img.aboutimage {
  width: 100%;
}
/* line 12, ../sass/components/_about.scss */
.about ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 15, ../sass/components/_about.scss */
.about img.smedia {
  width: 5em;
}

/* line 1, ../sass/components/_footer.scss */
#footer {
  padding: 2em;
  text-align: center;
}

/* line 3, ../sass/components/_header.scss */
.header {
  background-image: url("../images/tile4.png");
  background-position: left top;
  margin: 0;
}
/* line 7, ../sass/components/_header.scss */
.header h1 {
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1em;
  margin: 0;
  font-family: 'AmerP';
  font-size: 4em;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 18, ../sass/components/_header.scss */
#circle {
  padding-top: 2em;
}
/* line 20, ../sass/components/_header.scss */
#circle img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

/* line 1, ../sass/components/_hero.scss */
.hero {
  background-image: url("../images/tile4.png");
  background-position: left top;
  margin: 0;
}
/* line 5, ../sass/components/_hero.scss */
.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1.5em;
}
/* line 12, ../sass/components/_hero.scss */
.hero h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0em;
  margin: 0;
  font-family: 'AmerP';
  font-size: 3.5em;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 1, ../sass/components/_port.scss */
.port {
  max-width: 100%;
}
