/* line 4, ../sass/components/_about.scss */
#about {
  background: #d7d7d7 url("../images/paper3.jpg");
  width: 100%;
}
/* line 6, ../sass/components/_about.scss */
#about div {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
/* line 11, ../sass/components/_about.scss */
#about img.aboutimage {
  width: 100%;
}
/* line 14, ../sass/components/_about.scss */
#about ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 17, ../sass/components/_about.scss */
#about img.smedia {
  width: 5em;
}

@media (min-width: 1135px) {
  /* line 4, ../sass/components/_attorneys.scss */
  #attorneys img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
  }
  /* line 9, ../sass/components/_attorneys.scss */
  #attorneys img:hover {
    -webkit-transition: opacity 1s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
/* line 15, ../sass/components/_attorneys.scss */
#attorneys {
  background: #d7d7d7 url("../images/paper3.jpg");
  width: 100%;
}
/* line 18, ../sass/components/_attorneys.scss */
#attorneys h2 {
  text-align: center;
  font-size: 1.75em;
  color: #840137;
}
/* line 23, ../sass/components/_attorneys.scss */
#attorneys h3 {
  text-align: center;
}
/* line 26, ../sass/components/_attorneys.scss */
#attorneys p {
  text-align: center;
}
/* line 30, ../sass/components/_attorneys.scss */
#attorneys img {
  align: center;
  padding: 0;
}
/* line 34, ../sass/components/_attorneys.scss */
#attorneys div {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1135px) {
  /* line 2, ../sass/components/_contact.scss */
  #tel {
    pointer-events: none;
    cursor: default;
  }
}
/* line 7, ../sass/components/_contact.scss */
#contact {
  background: #ebebeb url("../images/paper2.jpg");
  width: 100%;
  padding-bottom: 1em;
}
/* line 11, ../sass/components/_contact.scss */
#contact b {
  font-family: 'Slabo 27px', serif;
  color: #840137;
  font-weight: normal;
  font-size: 1.25em;
}
/* line 17, ../sass/components/_contact.scss */
#contact div {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
/* line 22, ../sass/components/_contact.scss */
#contact form {
  font-family: 'Slabo 27px', serif;
  color: #840137;
  font-size: 1.25em;
}
/* line 27, ../sass/components/_contact.scss */
#contact #cf_name {
  width: 100%;
  margin-bottom: .5em;
}
/* line 31, ../sass/components/_contact.scss */
#contact #cf_email {
  width: 100%;
  margin-bottom: .5em;
}
/* line 35, ../sass/components/_contact.scss */
#contact #cf_message {
  width: 100%;
  height: 5em;
}
/* line 39, ../sass/components/_contact.scss */
#contact #send {
  background-color: #840137;
  margin: .5em .5em .5em 0;
  padding: 0 1.25em 0 1.25em;
  color: #FFF;
  font-family: 'Slabo 27px', serif;
  font-size: 90%;
}
/* line 47, ../sass/components/_contact.scss */
#contact #clear {
  background-color: #840137;
  margin: .5em .5em .5em 0;
  padding: 0 1.25em 0 1.25em;
  color: #FFF;
  font-family: 'Slabo 27px', serif;
  font-size: 90%;
}

@media only screen and (min-width: 1135px) {
  /* line 2, ../sass/components/_footer.scss */
  #address {
    text-align: left;
  }

  /* line 5, ../sass/components/_footer.scss */
  #contact-info {
    text-align: right;
  }
}
/* line 9, ../sass/components/_footer.scss */
#footer {
  padding: 2em;
  text-align: center;
  background-color: #840137;
  width: 100%;
}
/* line 14, ../sass/components/_footer.scss */
#footer p {
  color: #FFF;
  font-family: 'Slabo 27px', serif;
}
/* line 18, ../sass/components/_footer.scss */
#footer #address {
  padding-top: .85em;
  display: block;
  color: #FFF;
  font-family: 'Slabo 27px', serif;
}
/* line 24, ../sass/components/_footer.scss */
#footer #contact-info {
  padding-top: .85em;
  display: block;
  color: #FFF;
  font-family: 'Slabo 27px', serif;
}
/* line 30, ../sass/components/_footer.scss */
#footer a {
  text-decoration: underline;
  color: #FFF;
}

/* line 3, ../sass/components/_header.scss */
.header {
  background-image: url("../images/tile4.png");
  background-position: left top;
  margin: 0;
}
/* line 7, ../sass/components/_header.scss */
.header h1 {
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1em;
  margin: 0;
  font-family: 'AmerP';
  font-size: 4em;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 18, ../sass/components/_header.scss */
.circle {
  padding-top: 2em;
}
/* line 20, ../sass/components/_header.scss */
.circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

@media (min-width: 1135px) {
  /* line 2, ../sass/components/_home.scss */
  #text {
    padding-top: 6em;
  }
}
@media only screen and (max-width: 1135px) and (min-width: 651px) {
  /* line 8, ../sass/components/_home.scss */
  #home #text {
    padding: 0 6em;
  }

  /* line 12, ../sass/components/_home.scss */
  #spacer {
    height: 12em;
  }
}
@media only screen and (max-width: 650px) and (min-width: 481px) {
  /* line 19, ../sass/components/_home.scss */
  #home #text {
    padding: 4em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 28, ../sass/components/_home.scss */
  #home #text {
    padding: 4em;
  }
}
/* line 34, ../sass/components/_home.scss */
#home {
  background: #ebebeb url("../images/paper2.jpg");
  width: 100%;
}
/* line 37, ../sass/components/_home.scss */
#home img {
  width: 100%;
  padding: 4em;
}
/* line 41, ../sass/components/_home.scss */
#home #text {
  padding-right: 6em;
}

/* line 45, ../sass/components/_home.scss */
p {
  font-family: sans-serif;
  font-size: 1.1em;
}

/* line 50, ../sass/components/_home.scss */
h1 {
  font-family: 'BaskSBI', serif;
  padding-left: 2em;
  padding-top: 2em;
  text-shadow: 2px 2px #bababa;
}

/* line 57, ../sass/components/_home.scss */
h2 {
  font-family: 'Slabo 27px', serif;
  text-shadow: 2px 2px #a7a7a7;
}

/* line 62, ../sass/components/_home.scss */
h3 {
  font-family: 'Slabo 27px', serif;
  color: #840137;
}

@font-face {
  font-family: "BaskSBI";
  src: url("../fonts/BaskSBI.ttf");
}

@media (max-width: 650px) {
  /* line 3, ../sass/components/_law.scss */
  #law .fc {
    opacity: none;
  }
}
@media (min-width: 1135px) {
  /* line 10, ../sass/components/_law.scss */
  #law .fc {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    transition: opacity .5s linear;
    text-shadow: #000 1px 1px 0;
    text-align: left;
    text-size: 12px;
    color: #fff;
    font-size: 16px;
  }
  /* line 26, ../sass/components/_law.scss */
  #law .fc:hover {
    display: block;
    opacity: 1.0;
  }
}
/* line 36, ../sass/components/_law.scss */
#lawborder {
  height: 50px;
  margin-bottom: 500px;
}

/* line 42, ../sass/components/_law.scss */
#law {
  background: #ebebeb url("../images/paper2.jpg");
  width: 100%;
  height: 100%;
}
/* line 46, ../sass/components/_law.scss */
#law h3 {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  top: 20%;
  position: relative;
}
/* line 53, ../sass/components/_law.scss */
#law img {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 58, ../sass/components/_law.scss */
#law figure {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 63, ../sass/components/_law.scss */
#law .fc {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  transition: opacity .5s linear;
  text-shadow: #000 1px 1px 0;
  text-align: left;
  text-size: 12px;
  color: #fff;
  font-size: 16px;
}
/* line 78, ../sass/components/_law.scss */
#law .fc:hover {
  display: block;
  opacity: 1.0;
}

/* line 85, ../sass/components/_law.scss */
.no-padding {
  padding: 0;
}

/* line 1, ../sass/components/_leadimage.scss */
#leadimage {
  width: 100%;
  padding: 0;
}
/* line 4, ../sass/components/_leadimage.scss */
#leadimage img {
  width: 100%;
}

@media only screen and (min-width: 1135px) {
  /* line 2, ../sass/components/_navigation.scss */
  #navigation {
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFF;
    z-index: 1;
    opacity: .9;
  }

  /* line 12, ../sass/components/_navigation.scss */
  .nav li {
    float: left;
  }
}
@media only screen and (max-width: 1135px) and (min-width: 651px) {
  /* line 19, ../sass/components/_navigation.scss */
  #navigation {
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFF;
    z-index: 1;
    opacity: .9;
  }

  /* line 28, ../sass/components/_navigation.scss */
  .nav {
    text-align: center;
  }
  /* line 30, ../sass/components/_navigation.scss */
  .nav li {
    display: inline;
    float: none;
  }
  /* line 34, ../sass/components/_navigation.scss */
  .nav li a {
    display: inline;
    margin-left: 2em;
  }
  /* line 38, ../sass/components/_navigation.scss */
  .nav li:first-child {
    float: left;
    width: 100%;
  }
  /* line 42, ../sass/components/_navigation.scss */
  .nav li:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) and (min-width: 481px) {
  /* line 51, ../sass/components/_navigation.scss */
  .nav li {
    width: 100%;
    align: center;
    text-align: center;
  }
  /* line 55, ../sass/components/_navigation.scss */
  .nav li a {
    font-size: 2em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 64, ../sass/components/_navigation.scss */
  .nav li {
    width: 100%;
    align: center;
    text-align: center;
  }
  /* line 68, ../sass/components/_navigation.scss */
  .nav li a {
    font-size: 1.5em;
  }
}
/* line 77, ../sass/components/_navigation.scss */
.nav li {
  padding-top: .85em;
}
/* line 79, ../sass/components/_navigation.scss */
.nav li:first-child {
  padding-top: 0;
  padding-left: 1em;
  padding-bottom: 1em;
}
/* line 84, ../sass/components/_navigation.scss */
.nav li:last-child {
  display: block;
  font-size: 2em;
  padding-top: .35em;
  padding-right: 1em;
  float: right;
  color: #363636;
  font-family: 'Montserrat', sans-serif;
}
/* line 92, ../sass/components/_navigation.scss */
.nav li:last-child i {
  font-size: 1em;
  color: #840137;
}
/* line 98, ../sass/components/_navigation.scss */
.nav a {
  display: block;
  font-size: 1.25em;
  color: #840137;
  font-family: 'Slabo 27px', serif;
}
/* line 104, ../sass/components/_navigation.scss */
.nav #bignmber {
  display: block;
  font-size: 2em;
  padding-top: .35em;
  padding-right: 1em;
  float: right;
  color: #363636;
  font-family: 'Montserrat', sans-serif;
}
/* line 112, ../sass/components/_navigation.scss */
.nav #bignmber i {
  font-size: 1em;
  color: #840137;
}
/* line 117, ../sass/components/_navigation.scss */
.nav img {
  height: 4em;
}
